.teams-card-container{
  background-color: #FDFDFD;
  border-radius: 20px;
  height: 75vh;
  max-width: 80vw;
  min-width: 500px;
  position: relative;
}

.teams-card-title-container{
  display: flex;
  justify-content: center;
  position: absolute;
  top: -15px;
  width: 100%;
}

.teams-card-title{
  background-color: red;
  border-radius: 10px;
  color: white;
  min-width: 200px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
}

.teams-content{
  padding-bottom: 50px;
  padding-top: 50px;
  height: 100%;
}