<div class="main-container">
  <div class="card teams-card-container">
    <div class="teams-card-title-container">
      <div class="teams-card-title">
        Russia 2018 World Cup
      </div>
    </div>
    <div class="teams-content">
      <div style="height: 100%; overflow-y: scroll;">
        <p *ngIf="loading" class="text-center">Loading data...</p>
        <app-stadium *ngFor="let stadium of stadiums" [stadium]="stadium"></app-stadium>
      </div>
    </div>
  </div>
  <div style="text-align: center;">
    <a routerLink="/teams">Go to teams</a>
  </div>
</div>